@success-color:#67C23A;
@info-color:#909399;
@warn-color:#E6A23C;
@error-color:#F56C6C;
@main--olor: #3a8ee6;

@success-color-lighter:lighten(@success-color, 35%);
@info-color-lighter:lighten(@info-color, 35%);
@warn-color-lighter: lighten(@warn-color, 30%);
@error-color-lighter:lighten(@error-color, 30%);


@alert-success-color: @success-color-lighter;
@alert-info-color: @info-color-lighter;
@alert-warn-color: @warn-color-lighter;
@alert-error-color:@error-color-lighter;
